.home-main {
  min-height: 100vh;
}
.body {
  width: 80%;
  margin: auto;
}
.todo-list-container {
  padding-left: 0px;
  list-style: none;
}

.todo-item {
  background-color: #c1e899;
  border-right: 4px solid seagreen;
  border-radius: 9px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2px;
  padding-left: 10px;
  padding-right: 10px;
}
.add-task-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  margin: auto;
}
.input-element {
  height: 30px;
  width: 70%;
  outline: none;
  padding-left: 10px;
}
.add-task-button {
  height: 30px;
  width: 90px;
}
